<!-- 1clarge -->
<section>
    <header>
        <h2>Magna rutrum sed consequat</h2>
    </header>
    <a href="#" class="image image-style1 align-left image-fit-mobileOnly"><img src="/images/pic05.jpg" alt=""></a>
    <h3>Feugiat veroeros consequat lorem facilis nullam</h3>
    <p>Donec tincidunt tincidunt velit, eu viverra augue lacinia sed. Maecenas a ante in mauris aliquam tempus. Pellentesque euismod aliquam dolor. Praesent congue, Curabitur lacinia, erat at venenatis aliquam, odio nisi ultricies ipsum, in gravida augue
        mi eget libero. Nulla id urna vel purus mattis volutpat id ac ligula. Pellentesque sit amet feugiat donec tincidunt tincidunt viverra.</p>
    <a href="#" class="button">Continue Reading</a>
</section>
