<!-- 2clarge 4 -->
<section>
    <header>
        <h2>Lorem feugiat et dolore</h2>
        <span class="byline">Dolor sit amet adipiscing consequat veroeros</span>
    </header>
    <p>Phasellus dapibus convallis scelerisque. Donec tempus augue id tortor ultricies eget pellentesque turpis ultrices. Vestibulum ut nulla sem, vel iaculis arcu. Nulla vel lorem nisl, quis ultricies tellus. Nunc imperdiet elit sed dolore lacus venenatis
        rutrum. Vivamus vulputate urna dolor est sagittis purus, in laoreet. Nunc imperdiet elit sed dolore lacus venenatis dolore vulputate eros non nisl.</p>
    <div class="grid-spaced">
        <div class="row">
            <div class="6u 12u(mobile)">
                <section>
                    <a href="#" class="image image-fit"><img src="/images/pic01.jpg" alt="" /></a>
                    <h3>Dolore nisl vivamus consequat</h3>
                    <p>Nulla sem, vel iaculis arcu. Nulla vel lorem nisl, quis ultricies tellus vulputate urna dolor est sagittis purus, in laoreet. Nunc imper diet elit sed dolore lacus dolore. <a href="#">Learn more ...</a></p>
                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>
                    <a href="#" class="image image-fit"><img src="/images/pic02.jpg" alt="" /></a>
                    <h3>Magna phasellus nisl lorem</h3>
                    <p>Nulla sem, vel iaculis arcu. Nulla vel lorem nisl, quis ultricies tellus vulputate urna dolor est sagittis purus, in laoreet. Nunc imper diet elit sed dolore lacus dolore. <a href="#">Learn more ...</a></p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u 12u(mobile)">
                <section>
                    <a href="#" class="image image-fit"><img src="/images/pic03.jpg" alt="" /></a>
                    <h3>Volutpat sed sagittis laoreet</h3>
                    <p>Nulla sem, vel iaculis arcu. Nulla vel lorem nisl, quis ultricies tellus vulputate urna dolor est sagittis purus, in laoreet. Nunc imper diet elit sed dolore lacus dolore. <a href="#">Learn more ...</a></p>
                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>
                    <a href="#" class="image image-fit"><img src="/images/pic04.jpg" alt="" /></a>
                    <h3>Tellus sem imperdiet sed nunc</h3>
                    <p>Nulla sem, vel iaculis arcu. Nulla vel lorem nisl, quis ultricies tellus vulputate urna dolor est sagittis purus, in laoreet. Nunc imper diet elit sed dolore lacus dolore. <a href="#">Learn more ...</a></p>
                </section>
            </div>
        </div>
    </div>
</section>
