<div id="banner-wrapper">

    <!-- Banner -->
    <div class="container">
        <div id="banner">
            <div class="viewer" style="-webkit-user-select: none; height: 440px; position: relative; overflow: hidden;">
                <div class="nav-next" style="-webkit-user-select: none;"></div>
                <div class="nav-previous" style="-webkit-user-select: none;"></div>
                <div class="reel" style="-webkit-user-select: none; position: absolute; left: -2400px; top: 0px; display: block; opacity: 1;">

                    <!-- Slide 1 -->
                    <div class="slide" id="" style="-webkit-user-select: none; width: 1200px; height: 440px; position: absolute; left: 0px; top: 0px;">
                      <h2 class="caption-1">Amet lorem et dolore?</h2>
                      <p class="caption-2">Lorem ipsum dolor adipiscing et nullam consequat sed nisl magna phaselus amet veroeros blandit.</p>

                        <a href="#" class="link">More ...</a>
                        <img src="/images/slide01.jpg" alt="">
                    </div>

                    <!-- Slide 2 -->
                    <div class="slide" id="" style="-webkit-user-select: none; width: 1200px; height: 440px; position: absolute; left: 1200px; top: 0px;">
                      <h2 class="caption-1">Magna feugiat consequat</h2>
                      <p class="caption-2">Adipiscing et nullam consequat sed nisl magna phaselus amet veroeros blandit phasellus etiam.</p>

                        <a href="#" class="link">More ...</a>
                        <img src="/images/slide02.jpg" alt="">
                    </div>

                    <!-- Slide 3 -->
                    <div class="slide active" id="" style="-webkit-user-select: none; width: 1200px; height: 440px; position: absolute; left: 2400px; top: 0px;">

                      <h2 class="caption-1">Etiam sed nulla blandit</h2>
                      <p class="caption-2">Nullam consequat sed nisl magna phaselus amet veroeros et blandit consequat sed lorem dolore.</p>
                        <a href="#" class="link">More ...</a>
                        <img src="/images/slide03.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="captions">
                <span class="caption-line-1" style="-webkit-user-select: none;">Etiam sed nulla blandit</span>
                <span class="caption-line-2" style="-webkit-user-select: none;">Nullam consequat sed nisl magna phaselus amet veroeros et blandit consequat sed lorem dolore.</span>
            </div>
        </div>
    </div>

</div>
