<div id="banner-wrapper">

    <!-- Banner -->
    <div class="container">
        <div id="banner">
            <div class="viewer" style="-webkit-user-select: none; height: 440px; position: relative; overflow: hidden;">
                <div class="nav-next" style="-webkit-user-select: none;"></div>
                <div class="nav-previous" style="-webkit-user-select: none;"></div>
                <div class="reel" style="-webkit-user-select: none; position: absolute; left: -2400px; top: 0px; display: block; opacity: 1;">

                    <!-- Slide 1 -->
                    <div class="slide" id="" style="-webkit-user-select: none; width: 1200px; height: 440px; position: absolute; left: 0px; top: 0px;">
                      <h2 class="caption-1"></h2>
                      <p class="caption-2">Rejuvenate your senses at Sharlynn. The studio cabin, local produce, comfortable climate &amp; private river, makes your stay one to remember.</p>

                        <a href="/book" class="link">More ...</a>
                        <img src="/images/hero deck.jpg" alt="">
                    </div>

                    <!-- Slide 2 -->
                    <div class="slide" id="" style="-webkit-user-select: none; width: 1200px; height: 440px; position: absolute; left: 1200px; top: 0px;">
                      <h2 class="caption-1"></h2>
                      <p class="caption-2">Pam &amp; John are delighted to assist with your stay. 30 years’ experience in photography &amp; events mean unique perks at Sharlynn. </p>

                        <a href="/experience" class="link">More ...</a>
                        <img src="/images/hero river.jpg" alt="">
                    </div>

                    <!-- Slide 3 -->
                    <div class="slide active" id="" style="-webkit-user-select: none; width: 1200px; height: 440px; position: absolute; left: 2400px; top: 0px;">

                      <h2 class="caption-1"></h2>
                      <p class="caption-2">As you relax under the tree canopy on your private verandah, keep an eye out for the tree kangaroo & birdlife.</p>
                        <a href="/accommodation" class="link">More ...</a>
                        <img src="/images/hero fireplace.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="captions">
                <span class="caption-line-1" style="-webkit-user-select: none;"></span>
                <span class="caption-line-2" style="-webkit-user-select: none;"></span>
            </div>
        </div>
    </div>

</div>
