<div id="footer-wrapper">
	<footer id="page-footer" class="container">
		<div class="row">
			<div class="4u 12u(mobile)">

				<!-- Links 1 -->
				<section>

					<ul class="contact">
						<li class="fa-facebook"><a href="https://www.facebook.com/www.sharlynn.com.au/">facebook</a></li>
						<li class="fa-bed"><a href="https://www.airbnb.com.au/rooms/1093230">airbnb</a></li>
					</ul>
				</section>

			</div>
			<div class="4u 12u(mobile)">

				<!-- Links 2 -->
				<section>
					<ul class="contact">
						<li class="fa-tripadvisor"><a href="https://www.tripadvisor.com.au/Hotel_Review-g499669-d2249922-Reviews-Sharlynn_B_B-Malanda_Queensland.html">tripadvisor</a></li>
						<li class="fa-phone">
							(+61) (07) 4096 5884
						</li>
					</ul>
				</section>

			</div>
			<div class="4u 12u(mobile)">
				<div class="side-padded">

					<!-- Contact -->
					<section>

						<ul class="contact">

							<li class="fa-envelope">
								<a href="mailto:stay@sharlynn.com.au">stay@sharlynn.com.au</a>
							</li>
							<li class="fa-home">
								11 Kidd Close<br>
								Malanda, Queensland<br>
								Australia, 4885<br><br>
							</li>

						</ul>
					</section>

				</div>
			</div>
		</div>

	</footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97176206-1', 'auto');
  ga('send', 'pageview');

</script>
