<div id="footer-wrapper">
	<footer id="page-footer" class="container">
		<div class="row">
			<div class="4u 12u(mobile)">

				<!-- Links 1 -->
				<section>

					<ul class="contact">
						<li class="fa-facebook"><a href="#">facebook</a></li>
						<li class="fa-bed"><a href="#">airbnb</a></li>
					</ul>
				</section>

			</div>
			<div class="4u 12u(mobile)">

				<!-- Links 2 -->
				<section>
					<ul class="contact">
						<li class="fa-tripadvisor"><a href="#">tripadvisor</a></li>
						<li class="fa-phone">
							(800) 000-0000
						</li>
					</ul>
				</section>

			</div>
			<div class="4u 12u(mobile)">
				<div class="side-padded">

					<!-- Contact -->
					<section>

						<ul class="contact">

							<li class="fa-envelope">
								<a href="#">info@sharlynn.com.au</a>
							</li>
							<li class="fa-home">
								Untitled Corporation, Inc
								<br> 1234 Somewhere Road Suite #5432
								<br> Nashville, Tennessee 00000-0000
							</li>

						</ul>
					</section>

				</div>
			</div>
		</div>

	</footer>
</div>
