<div id="header-wrapper">

	<!-- Header -->
	<div class="container">
		<header id="page-header">
			<h1><a href="index.html" id="logo"><span>Sharlynn</span> Bed &amp; Breakfast<sub> / {{ page.title }}<sub></a></h1>
			<nav id="nav">
				<ul>
					<li class="current_page_item" style="white-space: nowrap;"><a href="/">Home</a></li>
					<li style="white-space: nowrap;"><a href="/book">Book</a></li>
					<li style="white-space: nowrap;"><a class="arrow" href="/accommodation">Accommodation</a>
						<ul>
							<li><a href="/accommodation/#features">Features</a></li>
							<li><a href="/accommodation/#facilities">Facilities</a></li>
						</ul>
					</li>
					<li style="white-space: nowrap;"><a class="arrow" href="/experience">Experience</a>
						<ul>
							<li><a href="/experience/#photography">Photography</a></li>
							<li><a href="/experience/#food">Food</a></li>
						</ul>
					</li>
					<li style="white-space: nowrap;"><a href="/blog">Blog</a></li>
					<li style="white-space: nowrap;"><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>
	</div>
</div>
