<div id="search-wrapper">

    <!-- Search -->
    <div class="container" id="search">
        <span>There are %% posts, covering photography, food, etc, etc, etc</span>
        <div class="row">
            <div class="-8u 12u(mobile) 4u 12u(mobile)">
                <div class="side-padded">
                    <form method="post" action="#">
                        <div>
                            <input type="text" class="text" name="search" placeholder="Search our site">
                            <input type="submit" value="Search" class="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
