---
title: Blog
layout: default
---
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <!-- main content -->
            <div class="12u 12u(mobile) important(mobile)">
                <div id="content">
                    <section>
                        <header>
                            <h2>Recent Posts</h2>
                        </header>
                        <div class="grid-spaced">
                            <!-- start loop -->
                            {% for post in site.posts %}
                            {% assign loopindex = forloop.index | modulo: 2 %}
                            {% if loopindex == 1 %}
                            <div class="row blogList">
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3>{{ post.title }}</h3>
                                        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url }}">Read Post...</a></p>
                                    </section>
                                </div>
                            {% else %}
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3>{{ post.title }}</h3>
                                        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url }}">Read Post...</a></p>
                                    </section>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <!-- end loop -->
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>